form{padding:5px;
    border-color: #313131;
    border-style:solid;
    border-width: 1px 0;
  }
  
  .btToggle .btn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    line-height : 34px;
    color:#fff;
  }
  
  /* Hide default HTML checkbox */
  .btToggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .btToggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0; 
    bottom: 0;
     right:0;
    background-color: #000;  
    border-radius: 34px; 
    white-space : nowrap;
  }
  
  .btToggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; 
    border-radius: 50%;
  }
  
  .btToggle input:checked + .slider {
    background-color: #fff; 
  }
  
  .btToggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    color:#000;
  }
  
  .btToggle input:checked + .slider:before {
    right:4px;
    left:auto;
    background-color: #000;
  }
  
  /* DARK MODE */
  .mode-dark{
    background-color: #000;
    color : #fff
  } 
   
  .mode-dark form{ 
    background-color: #232323;
    border-color: #ccc;
  }
  .mode-dark .mise-en-page-lien .bloc-mise-en-page{
     background-color: #232323;
  }
  .mode-dark .bloc-lien a:link,.mode-dark .bloc-lien a:visited,.mode-dark .bloc-lien a{
    color:#fff;
  }
  
  /* DARK MODE */
body  {
  
    color: black;


    padding: 100px;
}

.dark {
    background-color: black;
    color: white;
}



function setMode(oEvent){
    document.body.classList.replace(aModes[Number(!this.checked)],aModes[Number(this.checked)]);
    localStorage.setItem('mode',aModes[Number(this.checked)]);
    this.parentNode.nextElementSibling.innerHTML = (this.checked)? "Dark mode":"White mode"
  }
  
function loadMode(){
  let sMode = localStorage.getItem('mode');
    document.forms["mytheme"]["theme-mode"].checked = sMode == aModes[1];
    setMode.call(document.forms["mytheme"]["theme-mode"])
  }
let aModes = ["mode-white", "mode-dark"];
  document.addEventListener('DOMContentLoaded',function(){
    document.body.classList.add(aModes[0]);
    document.forms["mytheme"]["theme-mode"].addEventListener('click', setMode);
    loadMode()
  });